* {
  margin: 0;
  padding: 0;
}

#start-page,
#lose-page {
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
}

#lose-page {
  display: none;
}

canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}